<form action="/login" method="post">
  <div class="field">
    <label for="user">Usuário</label>
    <input type="text" name="user">
  </div>
  <div class="field">
    <label for="password">Senha</label>
    <input type="password" name="password">
  </div>
  <div class="field">
    <input type="submit" value="Entrar">
  </div>
</form>
